/* variables */
:root {
    --main-color-background: #FFF;
    --font-color-main: #000;
    --font-color-main-lt: #333;
    --font-color-hover: #666;
    
}

/* fonts */

@font-face {
    font-family: "Computer Modern";
    src: url(../resources/fonts/CMUNRM.OTF);
    font-weight: normal;
}

@font-face {
    font-family: "Computer Modern";
    src: url(../resources/fonts/CMUNBX.OTF);
    font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src: url(..s/resources/fonts/CMUNTI.OTF);
    font-weight: normal;
    font-style: italic;
}

/* full page css */
* {
    box-sizing: border-box;
    margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    font-family: "Computer Modern", "Georgia", "Times New Roman", serif;
}

a {
    text-decoration: none;
    color: var(--font-color-main);
}

p a {
    font-weight: bold;
    color: var(--font-color-main-lt);
}

a:hover {
    text-decoration: none;
    color: var(--font-color-hover);
    transition: color 500ms ease;
}

body {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
}

/* main box */
.main-box {
    margin: auto;
    width: 47.2rem;
    position: relative;
    top: -20vh;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
}

.logo {
    text-transform: lowercase;
    font-size: 2.6rem;
    margin-bottom: -2rem;
}

/* navigation */
.navigation {
    max-width: 47.2rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 65%;
    margin-left: auto;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    
}

nav a {
    flex-grow: 1;
    margin: .5rem;
    border-bottom: .12rem solid var(--font-color-main);
    transition: all 200ms;
}

nav a:hover {
    border-bottom-color: var(--font-color-hover);
    color: var(--font-color-hover);
}

/* content div */

.content p {
    margin-bottom: 2rem;
}

/* responsive css */
@media screen and (orientation: portrait) and (max-width: 47.2rem) {
    .long-name {
        display: flex;
        height: 0;
        width: 0;
        text-indent: 100%;
        overflow: hidden;
    }
    
    .main-box {
        margin: 10%;
    }

    nav {
        flex-direction: column;
        text-align: left;
        margin: auto;
        margin-bottom: 2rem;
        max-width: 100%;
    }

    nav a {
        margin-left: 0;
    }

    .logo {
        text-align: left;
    }
}