/* variables */
:root {
    --font-color-main: #000;
    --font-color-hover: #333;
}

/* fonts */

@font-face {
    font-family: "Computer Modern";
    src: url(../resources/CMUNRM.OTF);
    font-weight: normal;
}

@font-face {
    font-family: "Computer Modern";
    src: url(../resources/CMUNBX.OTF);
    font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src: url(../resources/CMUNTI.OTF);
    font-weight: normal;
    font-style: italic;
}

/* full page css */
* {
    box-sizing: border-box;
    margin: 0;
    /* border: 1px solid red; */
}

html {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    max-height: 100%;
    font-family: "Computer Modern", "Georgia", "Times New Roman", serif;
}

a {
    text-decoration: none;
    color: var(--font-color-main);
}

a:hover {
    text-decoration: none;
    color: var(--font-color-hover);
}

body {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100%;
}

/* main box */
.main-box {
    margin: auto;
    width: 80%;
}

/* header */
.header {
    display: flex;
    flex-direction: column;
}

.logo {
    text-transform: lowercase;
    font-size: 2.6rem;
    margin-bottom: -2rem;
}

/* navigation */
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
    max-width: 30.4rem;
}

.spacer {
    width: 16rem;
}